@page "/wishlist"
@using System.Text.Json
@inject IJSRuntime JSRuntime
@using System.IdentityModel.Tokens.Jwt;
@using SendGrid;
@using SendGrid.Helpers.Mail;
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using System;
@using Microsoft.JSInterop
@using System.Text
@inject HttpClient HttpClient
@using System.Net.Http.Headers;
@using Newtonsoft.Json
@using Ecommerce.Models
@inject SweetAlertService Swal;
@using System.Net;


<h1>Wishlist</h1>

@if (isRendered)
{
    @if (wishlistItems == null || wishlistItems.Length == 0)
    {
        <p>Your cart is empty</p>
    }
    else
    {
        <div class="row">
            @foreach (var item in wishlistItems)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex">

                    <div class="shadow-lg card w-100 my-2 shadow-2-strong">
                        <a href="@($"/details/{item.id}")">
                            <img src="@item.image" alt="@item.name" class="card-img-top" style="aspect-ratio: 1 / 1" />
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@item.name</h5>
                            <p class="card-text">Price: @item.price</p>
                            <div class="card-footer d-flex align-items-end pt-3 px-0 pb-0 mt-auto">
                                <button href="" class="btn btn-light border px-3 pt-2 icon-hover mx-4 btn-hover-highlight"
                                    data-toggle="tooltip" data-placement="top" title="Remove from wishlist"
                                    onclick="@(() => RemoveFromWishlist(item.id))"><i class="bi bi-x-circle"
                                        style="font-size: 2rem;"></i></button>
                                <button class="btn btn-light border px-3 pt-2 icon-hover mx-4 btn-hover-highlight"
                                    title="Add to cart" @onclick="() => AddToCart(item)">
                                    <i class="bi bi-cart4" style="font-size: 2rem;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    }
}

@code {
    private bool isRendered;
    private WishListItem[] wishlistItems;

    private async Task AddToCart(WishListItem item)
    {
        var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "token");
        if (string.IsNullOrEmpty(token))
        {
            var result = await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Login Required",
                    Text = "Please login to your account",
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Login",
                    CancelButtonText = "No, thanks"
                });

            if (result.IsConfirmed)
            {
                NavigationManager.NavigateTo($"https://localhost:7085/?ClientId=a0d0b3a2-efa4-47ca-b193-45bdbd950f3a");
                return;
            }
        }

        HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
        var handler = new JwtSecurityTokenHandler();
        var decodedToken = handler.ReadJwtToken(token);

        var userId = decodedToken.Claims.FirstOrDefault(c => c.Type == "id")?.Value;
        var productId = item.id;

        // Fetch the product vendor ID dynamically
        var productVendorId = await GetProductVendorId(productId);

        var url = $"https://localhost:7044/api/cart/{userId}?productId={productId}&productVendorId={productVendorId}";

        using (var httpClientHandler = new HttpClientHandler())
        {
            httpClientHandler.ServerCertificateCustomValidationCallback =
            HttpClientHandler.DangerousAcceptAnyServerCertificateValidator;
            using (var httpClient = new HttpClient(httpClientHandler))
            {
                var confirmResult = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Confirmation",
                        Text = "Do you want to add item to cart?",
                        Icon = SweetAlertIcon.Warning,
                        ShowCancelButton = true,
                        ConfirmButtonText = "Yes",
                        CancelButtonText = "No"
                    });

                if (confirmResult.IsConfirmed)
                {
                    // Proceed with adding the item to the cart
                    var response = await httpClient.PostAsync(url, null);
                    var statusCode = response.StatusCode;

                    if (response.IsSuccessStatusCode)
                    {
                        // Item added to cart successfully
                        var successResult = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Success",
                                Text = "Item added to cart successfully!",
                                Icon = SweetAlertIcon.Success,
                                ConfirmButtonText = "OK",
                            });
                    }
                    else if (response.StatusCode == HttpStatusCode.BadRequest)
                    {
                        // Item already present in the cart
                        var errorResult = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Alert!!",
                                Text = "Item already present in the cart. If you want to add it again, you can go to the cart and select the quantity.",
                                Icon = SweetAlertIcon.Warning,
                                ConfirmButtonText = "OK",
                            });
                    }
                    else
                    {
                        // Failed to add item to the cart
                        var errorResult = await Swal.FireAsync(new SweetAlertOptions
                            {
                                Title = "Alert!!",
                                Text = "Failed to add item to the cart.",
                                Icon = SweetAlertIcon.Warning,
                                ConfirmButtonText = "OK",
                            });
                    }
                }
                else
                {
                    // User clicked "No," abort the process
                    return;
                }
            }
        }
    }
    private async Task<int> GetProductVendorId(string productId)
    {
        var baseUrl = $"https://localhost:7044/api/products/{productId}/vendor";

        using (var httpClientHandler = new HttpClientHandler())
        {
            httpClientHandler.ServerCertificateCustomValidationCallback =
            HttpClientHandler.DangerousAcceptAnyServerCertificateValidator;
            using (var httpClient = new HttpClient(httpClientHandler))
            {
                var jsonStr = await httpClient.GetStringAsync(baseUrl);
                var vendor = JsonConvert.DeserializeObject<ProductVendor>(jsonStr);
                return vendor?.Id ?? 0;
            }
        }
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var storage = await JSRuntime.InvokeAsync<IJSObjectReference>("eval", "localStorage");
        var json = await storage.InvokeAsync<string>("getItem", "wishlistItems");
        if (!string.IsNullOrEmpty(json))
        {
            wishlistItems = System.Text.Json.JsonSerializer.Deserialize<WishListItem[]>(json);
        }
        else
        {
            wishlistItems = new WishListItem[0];
        }
        isRendered = true;
        StateHasChanged();
    }


    private class WishListItem
    {
        public string id { get; set; }
        public string name { get; set; }
        public string price { get; set; }
        public string image { get; set; }
    }



    private async Task RemoveFromWishlist(string id)
    {
        var confirmResult = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmation",
                Text = "Are you sure you want to remove this item from the wishlist?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Yes",
                CancelButtonText = "No"
            });

        if (confirmResult.IsConfirmed)
        {
            // Proceed with removing the item from the wishlist
            var wishlistItemsList = wishlistItems.ToList();
            var itemToRemove = wishlistItemsList.FirstOrDefault(x => x.id == id);
            if (itemToRemove != null)
            {
                wishlistItemsList.Remove(itemToRemove);
                wishlistItems = wishlistItemsList.ToArray();
                var storage = await JSRuntime.InvokeAsync<IJSObjectReference>("eval", "localStorage");
                await storage.InvokeVoidAsync("setItem", "wishlistItems", System.Text.Json.JsonSerializer.Serialize(wishlistItems));

                // Notify the user about successful removal from wishlist
                var successResult = await Swal.FireAsync(new SweetAlertOptions
                    {
                        Title = "Success",
                        Text = "Item removed from wishlist successfully!",
                        Icon = SweetAlertIcon.Success,
                        ConfirmButtonText = "OK",
                    });
            }
        }
        else
        {
            // User clicked "No," abort the process
            return;
        }
    }

}
